[user]
	name = fhchl
	mail = "no@noreply.mail.com"
[includeIf "gitdir:~/git-work/"]
	path = ~/.work.gitconfig
[includeIf "gitdir:~/git-personal/"]
	path = ~/.personal.gitconfig
[credential]
	helper = store
[diff]
	colorMoved = default
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff "$LOCAL" "$REMOTE" "$BASE"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
[mergetool]
	prompt = false
[pull]
	rebase = true

#### Begin difftastic
[diff]
	tool = difftastic
	external = difft
[difftool]
	prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true		
#### End difftastic
[init]
	defaultBranch = main
