[Desktop Entry]
MimeType=application/pdf
Terminal=false
Name=Sioyek
Exec=/home/fhchl/.local/bin/Sioyek-x86_64.AppImage
Type=Application
Categories=Viewer
