[Desktop Entry]
Terminal=false
Name=Matlab R2022a
Exec=env MESA_LOADER_DRIVER_OVERRIDE=i965 /home/fhchl/.local/matlab/R2022a/bin/matlab -desktop
Type=Application
